<head>
    <title>First Server</title>
</head>
<body>
    <h1>Find Great Books</h1>
    <form action="/results" method="POST">
        <p>Type in a book keyword here: <input type="text" name="search"</p>
        <button type = "submit">Search</button>
    </form>
</body>