@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
  font-family: 'PT Sans', sans-serif;
}


h1 {
  color: white;
  text-shadow: 3px 3px 0px rgba(120,120,120,0.8);
  font-size: 2.5rem;
  text-align: center;
}

#header {
  background-color: cornflowerblue;
}

#main {
  background-color: dodgerblue;
}

#sidebar {
  background-color: navy;
}

#footer {
  background-color: darkslateblue;
}

#contentWrapper {
  margin-left: 2vw;
  margin-right: 2vw;
}

.response {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

p{
  color: white;
  margin: 8px;
}

input {
  border-radius: 10px;
  padding: 5px;
  font-size: 1.2rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 15px;
  padding-right: 15px;
  width: 35%;
}

label {
  margin-right: 20px;
  color: white;
  font-size: 1.2rem;
}

li {
  color: white;
  font-size: 1.2rem;
}