body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 75px auto 75px;
    
}

#header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#col1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: grey;
    
}

#col2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: red;
}

#footer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    background-color: yellow;
    justify-content: center;
    align-items: center;
}